* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  margin: 0 auto;
}

.all-books {
  margin-top: 2rem;
  width: 50vw;
  border: 1px solid #000;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.book:nth-child(odd) {
  background: lightgray;
}

.remove {
  border: 2px solid #000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 50%;
  margin-top: 2rem;
}

.form h3 {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}

.form input {
  border: 2px solid #000;
  padding: 3px;
  width: 100%;
}

.form button {
  align-self: flex-end;
  border: 2px solid #000;
}
